.wallpaper {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // justify-items: center;
  &_item {
    margin-bottom: 40px;
  }
}

.img-container {
  img {
    width: 500px;
  }
  .desc {
    max-width: 500px;
  }
}
